{
  "obmURL":                 "https://YOURSERVER",
  "obmUser":                "OBMUser",
  "obmPasswordCipher":      "OBMPassword",
  "enableSSLverification":  false,
  "debug":                  false,
  "severityLevel":          ["critical", "major", "minor", "warning", "normal"],
  "priorityLevel":          ["low", "medium", "high"],
  "scriptchecksum":         "md5checksum"
}